{% comment %} {% extends 'pastry_store/base.html' %}

{% load static %}

{% block title %}Thankyou{% endblock %}

{% block style %}

{% endblock %}

{% block context %}
<h2>Thankyou</h2>
{% endblock %} {% endcomment %}




<!DOCTYPE html>
<html>
<head>
    <title>Thankyou</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thankyou</h1>
    </div>
</body>
</html>